body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

.container1 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(67, 16, 139);
    text-align: center;
    height: 90px;
    margin: 0px;

}

h1 {
    font-size: 25px;
    color: white;
    align-items: center;
    width: 180px;
    border-radius: 10px;
    margin-left: 20px;
    border: 2px solid white;
    height: 40px;
    padding-top: 10px;
}

.info {
    display: flex;
    justify-content: center;
    text-align: center;
    color:white;
    margin-left: 100px;
    text-align: center;
    text-align: none;
    cursor: pointer;
    text-decoration: none;

}

.nav {
    margin: 20px;
    font-size: 22px;
    color: white;

}

.nav:hover {
    color: green;
}

img {
    border-radius: 50%;
}

span {
    font-size: 30px;
    color: greenyellow;
}

.container2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.cont {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

.container3 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.box1 {
    height: 400px;
    width: 450px;
    margin: auto;
}

h3 {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

h2 {
    background: rgb(131, 58, 180);
}

.edu {
    background: linear-gradient(90deg in oklab, blue, red);
    color:white;
}

p {
    font-size: 20px;
}
.container4 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   text-decoration: none;   
}
.same1 {
    margin: auto;
    font-size: 22px;
    height: 25px;
    width: 160px;
    border: 2px solid white;
    border-radius: 10px;
    color: red;
    text-decoration: none;
    margin-right: 250px;
    margin-left: 200px;
    text-align: center;
   
}
.same2{
    margin: auto;
    font-size: 20px;
    height: 25px;
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    color: red;
    text-decoration: none;
    margin-right: 250px;
    margin-left: 200px;
    background-color: rgb(67, 16, 139);
    text-align: center;

}

.same1:hover {
    color: white;
}
.same2:hover {
    color: white;
}
.container5 {
    height: 100px;
    background-color: blue;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border: 2px solid rgb(158, 153, 163);
    box-shadow: #a8eb12;
}

.icon {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 36px;
}

.sms {
    margin: 20px;
}

.num {
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg in oklab, blue, red);
    color: white;
    height: 20px;
}
#id {
    font-size: 16px;
    margin: 30px;
}